{% extends 'base.html' %}

{% block title %}Food Finder{% endblock %}

{% block content %}
	<div class="grid-container fluid" id="background_layer">
        <div class="grid-y grid-padding-y" id="inner_layer">
            <div class="cell text-left">
                <div class="grid-x grid-padding-x align-left">
                    <div class="cell medium-7">
                        <h4>Site created by <a href="http://www.jarodgowgiel.com" target="_blank">Jarod Gowgiel</a></h4>
						<p>This project is made possible by Derick Yang, and his wonderful <a href="https://github.com/dyang108/diningdata" target="_blank">backend scraper for Tufts dining menus</a>.</p>

						<p>I'd also like to credit the phenomenal General Gau's Chicken for inspiring this site, alongside Nate Silberman's obsession with eating it at every available opportunity.</p>

                        </h5>
                    </div>
                </div>
            </div>
		</div>
	</div>
{% endblock %}
